* {
    margin: 0px;
    padding: 0px;
}

/* uso MAP GET para armar colores de fondo*/
$colores: (
    rosa: #ffe4db,
    blancoRosado:#FFF7F5,
    lightBlue: #aceeed,
    agua: #CAECEB,
    rojo:#bd0003
);

@each $name,
$color in $colores {
    .bg-#{$name} {
        background: $color;
    }
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    & .card, .carousel, .carousel-item, .carousel-inner{
        position: inherit;
    }
}

header {
    .navbar {
        padding: 0rem;
    }

    .relleno {
        height: 70px;
        width: 100%;

    }

    width: 100%;

    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding-left: 12px;
        padding-right: 12px;

        a {
            text-decoration: none;
            color: white;

            &:hover {
                text-shadow: none;
                text-decoration: none;
                color: #bd0003;
                font-size: 1.5rem;
                background-color: white;
                border-radius: 0.25rem;
            }
        }

    }
}

/*La portada del INDEX*/
section#plantillaIndex {
    background-color: black;
    text-align: center;
    height: 230px;
}

/*Esta seccion se encuentra en la pagina de GALERÍA (arriba del footer)*/
section#seguinos {
    background-color: black;
    color: #ffe4db;
    text-align: center;
    padding: 20px;
}

.carousel-control-prev-icon {
    background-image: url("../img/previous.png");
}

.carousel-control-next-icon {
    background-image: url("../img/next.png");
}


/*seccion de la página contacto*/
section#contact {
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    text-align: center;
    line-height: 35px;

    & .claseP {
        color: #30700B;
        font-size: 1.3rem;
        background-color: beige;
        border-radius: 0.25rem;

        a {
            text-decoration: none;
            color: #bd0003;

            &:hover {
                font-weight: bolder;
            }
        }
    }

}

/*uso MIXIN para este título H1 que aparece en todas las páginas*/
@mixin tit {
    padding: 20px;
    color: black;
    font-size: 2rem;
    text-shadow: -1px 1px white;
    font-weight: bold;
    text-align: center;
}

h1 {
    @include tit
}

footer {
    background-color: #bd0003;
    text-align: center;
    color: #00bdba;
    font-size: 0.9rem;

    img:hover {
        width: 35px;
    }

    div {
        div {
            a {
                text-decoration: none;
                color: #00bdba;

                &:hover {
                    text-decoration: none;
                    color: white;
                }
            }

            &:hover {
                font-size: 1rem;
                color: white;
                background-color: black;
            }
        }
    }

}